@import 'tailwindcss';

@import "@catppuccin/tailwindcss/mocha.css";

@layer base {
    code, pre, kbd, samp {
        @apply font-mono;
    }
}

@font-face {
    font-family: "Monocraft";
    src: url("/Monocraft.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,pre,h2,h3,h4,h5,h6,p:not(button p),b,i,code,label,input,a {
	color: #cdd6f4;
}

h1,pre,h2,h3,h4,h5,h6,p,span,button,b,i,code,label,input,a {
    font-family: "Monocraft", sans-serif;
}

.square > p {
    font-family: "Monocraft", sans-serif;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
	color: #cdd6f4;
}

.menu > * {
	width: 50%;
}

a {
	color: #89b4fa;
}

a:hover {
	color: #cba6f7;
}

input {
	background: #313244;
}

h5 {
	font-size: 0.83em;
}

/* stackoverflow ftw: https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}
